* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f3f5;
    color: #666;
}

button {
    cursor: pointer;
}

a {
    /* inherit herda a cor dos containers dos links */
    color: inherit;
    text-decoration: none;
    
}